<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/admin/reservation" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-calendar"></i>&nbsp;{{ 'Reservation' | translate }}
        </a>
         <a [routerLink]="['/admin/user']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-users"></i>&nbsp;{{ 'Users' | translate }}
        </a>
        <a [routerLink]="['/admin/game']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-trophy"></i>&nbsp;{{ 'Games' | translate }}
        </a>
    </ul>
</nav>
