<div *ngIf="selectedFund">
  <div class="form-group clearfix"></div>
  <table class="table table-striped table-bordered">
    <tr>
      <th></th>
      <th>Portfolio Value</th>
      <th>Avg. IRR</th>
      <th>Duration</th>
      <th>Equity W.</th>
      <th>Portfolio Weight</th>
      <th>BM Duration</th>
      <th>BM Weight</th>
      <th>BM Diff. %</th>
      <th>BM Diff. Days</th>
      <th>Return</th>
      <th>BM Return</th>
      <th>Spread</th>
    </tr>
    <tr *ngFor="let asset of selectedFund.summary">
      <td>{{asset.assetName}}</td>
      <td>{{showCell(asset,'portfolioValue')}}</td>
      <td>{{showCell(asset,'avgirr')}}</td>
      <td>{{showCell(asset,'duration')}}</td>
      <td>{{showCell(asset,'equityW')}}</td>
      <td>{{showCell(asset,'portfolioWeight')}}</td>
      <td>{{showCell(asset,'bmDuration')}}</td>
      <td>{{showCell(asset,'bmWeight')}}</td>
      <td>{{showCell(asset,'bmDiffPercent')}}</td>
      <td>{{showCell(asset,'mDiffDays')}}</td>
      <td>{{showCell(asset,'return')}}</td>
      <td>{{showCell(asset,'bmReturn')}}</td>
      <td>{{showCell(asset,'spread')}}</td>
    </tr>
  </table>
</div>